/* ==========================================================================
Main page styles
========================================================================== */

.warehouse-name {
  cursor: pointer;
}

.cars {
  margin-top: 20px;
}

.selected-vehicle {
  background-color: #f1fff4;
}

.cursor-pointer {
  cursor: pointer;
}

.selected-car-info {
  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }
}
