<div class="row">
    <div class="col-12">
        <table>
            <tbody>
                <td *ngFor="let warehouse of warehouses" class="warehouse-name">
                    <button [ngClass]="currWarehouse && currWarehouse._id === warehouse._id ? 'btn-success' : 'btn-info'" (click)="changeCurrWarehause(warehouse)" class="btn btn-sm">{{warehouse.name}}</button>
                </td>
            </tbody>
        </table>
        <div class="row cars">
            <div class="col-6">
                <ul class="list-group">
                    <li (click)="changeCurrVehicle(vehicle)" [ngClass]="{'selected-vehicle': currVehicle && currVehicle._id === vehicle._id, 'cursor-pointer' : vehicle.licensed}" class="list-group-item" *ngFor="let vehicle of currWarehouse?.cars.vehicles">
                        <div style="font-weight: bold">{{vehicle.make}} {{vehicle.model}}</div>
                        <div>
                            {{vehicle.licensed ? 'Licensed' : 'Not licensed'}}
                        </div>

                    </li>
                </ul>
            </div>
            <div *ngIf="currVehicle" class="col-6 selected-car-info">
                <ul>
                    <li><span style="font-weight: bold">Location:</span> {{currWarehouse.cars.location}}</li>
                    <li><span style="font-weight: bold">Year:</span> {{currVehicle.year_model}}</li>
                    <li><span style="font-weight: bold">Price:</span> {{currVehicle.price}}</li>
                </ul>
                <button (click)="addOrRemovedCar()" class="btn btn-success btn-sm">{{getTextForAddOrRemoveBtn()}}</button>
            </div>
        </div>
    </div>
</div>
